// foundation
@import '../../foundation/index';

// mixin
@mixin topBlock($width, $height, $top, $left,$MQ) {
  @if ($MQ <= 768px) {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
    transform: rotate(0deg);
  }

  @else {
    border: 1px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    transform: rotate(-34deg) translateY(-50%);
  }

  display: table;
  height: $height;
  left: $left;
  top: $top;
  transition: all 0.5s;
  width: $width;
  z-index: 99;

  @content;
}

@mixin topContainer($MQ) {
  @if ($MQ <= 768px) {
    transform: rotate(0deg);
    position: relative;
    left: 4%;
  }

  @else {
    transform: rotate(34deg);
  }

  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 2vw;
  @content;
}

// selector

.p-top {
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 0;

  &__overlay {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    position: fixed;
    width: 100%;

    .overlay.light {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &__name {
    @include MQ ($MD) {
      @include topBlock(100%, auto, 0, 0, $MD);
    }

    @include topBlock(63vw, 78vw, 50%, 7.8vw, $LG);

    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__name.is-rotation {
    border: none;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(0deg);
    width: 21%;

    @include MQ ($MD) {
      display: none;
    }
  }

  &__nameContainer {
    @include MQ ($MD) {
      @include topContainer($MD);

      font-size: 3vw;
      padding: 0 0 30px;
    }

    @include topContainer($LG);
    position: relative;
    top: 15%;
    left: 32%;
  }

  &__nameContainer.is-rotation {
    display: table-cell;
    height: 100%;
    transform: rotate(0deg);
    vertical-align: middle;
  }

  &__nameMenu {
    border: none;
    padding-bottom: 50px;
  }

  &__nameReverse {
    border: none;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(0deg);
    width: 30%;
  }

  &__nameSkillLink {
    @mixin sillLink--hb {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: fadeOutDown;
      transform-origin: center bottom;
    }

    @include MQ($MD) {
      font-size: 1em;
    };
    background-color: $colorGrayDark;
    border: none;
    border-radius: 12%/50%;
    color: $colorWhite;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    overflow: hidden;
    padding: 12px 25px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
      @include sillLink--hb;

      background-color: $colorGrayDark;
      border: none;
      color: $colorWhite;
      letter-spacing: 6px;
    }
  }

  %containerH {
    color: $colorWhite;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__headingMain {
    @include MQ($MD) {
      font-size: 2.3em;
    }

    color: $colorWhite;
    font-family: 'Taviraj', serif;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    text-transform: uppercase;
    &Under {
      @include MQ($MD) {
        padding-left: .5em;
        display: inline-block;
      }
      display: block;
    }
    &--sub {
      @include MQ($MD) {
        font-size: .8em;
      }
      display: block;
      font-size: 2.8rem;
      font-weight: 300;
      margin-top: 5px;
      min-height: 22px;
    }
  }

  &__reverseContainer {
    display: table-cell;
    height: 100%;
    padding: 0 30px;
    transform: rotate(0deg);
    vertical-align: middle;
  }

  &__resumeBlock {
    @include MQ ($MD) {
      @include topBlock(100%, auto, 0, 0, $MD);

      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    @include topBlock(23.8vw, 32.5vw, -8vw, 45vw, $LG);

    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__resumeContainer {
    @include MQ ($MD) {
      @include topContainer($MD);

      padding: 0;
    }

    @include topContainer($LG);
  }

  &__workBlock {
    @include MQ ($MD) {
      @include topBlock(100%, auto, 0, 0, $MD);

      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    @include topBlock(24vw, 33vw, 19vw, 63.3vw, $LG);

    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__workContainer {
    @include MQ ($MD) {
      @include topContainer($MD);

      padding: 0;
    }

    @include topContainer($LG);
  }

  &__blogBlock {
    @include MQ ($MD) {
      @include topBlock(100%, auto, 0, 0, $MD);

      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    @include topBlock(24vw, 33vw, -2vw, 78vw, $LG);

    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__blogContainer {
    @include MQ ($MD) {
      @include topContainer($MD);
    }

    @include topContainer($LG);

    position: relative;
  }

  &__messageBlock {
    align-items: center;
    background-color: $colorWhite;
    border-radius: 50%;
    bottom: -10px;
    color: $colorGrayDark;
    display: flex;
    flex-direction: column;
    height: 148px;
    justify-content: center;
    position: fixed;
    width: 148px;
  }
}

@keyframes p-bgScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1934px);
  }
}

.p-topSocial {
  bottom: 15%;
  position: absolute;

  &__list {
    display: inline-block;
    margin-right: 2px;
    text-align: center;

    a {
      border: 2px solid $colorWhite;
      color: $colorWhite;
      display: inline-block;
      height: 35px;
      transition: all 0.5s;
      width: 35px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid transparent;
        color: $colorGrayDark;
      }
    }

    .icon {
      font-size: 12px;
      line-height: 32px;
    }
  }
}
