@mixin classic {
  .mix-classic {
    opacity: 1;
    text-align: left;

    @content;
  }
}

.p-work {
  &__filters {
    display: flex;

    &--title {
      &::after {
        content: ':';
      }
    }
  }

  &__filterLists {
    display: flex;
    padding-left: 30px;
  }

  &__filterList:not(:first-of-type) {
    padding-left: 10px;
  }

  &__container {
    column-gap: 1em;
    columns: 3;
    overflow: hidden;

    @include MQ($SM) {
      columns: 1;
    }
  }

  &__content {
    box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 20px;
    padding: 12px;
    width: 18.5vw;

    @include MQ($MD) {
      width: 28vw;
    }

    @include MQ($SM) {
      width: 100%;
    }

    &Heading {
      border-bottom: 1px solid #bfbfbf;
    }

    &Filter {
      font-size: 0.9em;
      text-align: right;
      vertical-align: bottom;
    }
  }
}
